<div id="<%= dom_id restaurant %>">
  <p>
    <strong>Name:</strong>
    <%= restaurant.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= restaurant.address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= restaurant.phone_number %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= restaurant.category %>
  </p>

  <% restaurant.reviews.each do |review| %>
    <div class="review p-3">
      <p>
        <%= review.content %>
      </p>
      <%= "★" * review.rating %><%= "☆" * (5 - review.rating) %>
    </div>
  <% end %>
</div>
